.post-add-comments{
    margin-top: 10px;
}
.post-add-comments-title{
    text-align: center;
}
.post-comments-title{
    text-align: center;
    font-size: 20px;
}
.post-add-comment-textarea{
    
}
.post-add-comments input{
    margin-top: 0.2px;
}
